form {
  padding: 0em 1em 1em 1em;
}

label {
  display: block;
  padding: 0.2em;
}

label > input,
select {
  float: right;
  margin-left: 0.2em;
}

button {
  margin-top: 1em;
}

li {
  padding-right: 10px;
}

select,
input {
  width: 15em;
}
