form {
  padding: 0em 1em 1em 1em;
}

form * {
  font-size: medium;
}

label {
  display: block;
  padding: 0.2em;
}

label > input,
select {
  float: right;
  margin-left: 0.2em;
}

button {
  margin-top: 1em;
}

li {
  padding-right: 10px;
}

input,
form select {
  width: 100%;
  margin-bottom: 10px;
}

form button,
form select,
input {
  background-color: #d6eeee;
  padding: 6px 10px 10px 10px;
  border-radius: 10px;
  width: 100%;
}

button:hover,
select:hover {
  background-color: #c4e9e9;
}

.avatar-buttons-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.avatar-buttons-container > button {
  flex: auto;
  max-width: 45%;
  font-size: medium;
}

#save-button {
  font-size: large;
}

.custom-avatar-container {
  display: block;
  position: absolute;
  top: -5em;
  background-color: white;
  z-index: 10;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid whitesmoke;
  box-shadow: 3px 5px 5px rgb(53, 53, 53);
}

.custom-avatar-container label {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  text-transform: capitalize;
}

.custom-avatar-container input {
  display: flex;
  padding: 0;
  margin: 0;
  width: 50%;
}
