table {
  padding: 1em;
}

th {
  text-align: left;
}

td {
  min-width: 2em;
  text-align: center;
}

th,
td,
tr {
  border-color: #d6eeee;
}

tr:nth-child(odd) {
  background-color: #d6eeee;
}

table select {
  border: none;
  background-color: #d6eeee;
  font-weight: bold;
}
