table {
  border-collapse: collapse;
}

.statbox-table th {
  text-align: left;
  min-width: 10em;
}

thead {
  border: 3px solid #d6eeee;
}

thead th {
  text-align: center;
}

.statbox-table td {
  min-width: 4em;
}

td {
  position: relative;
  text-align: center;
}

th,
td,
tr {
  border-color: #d6eeee;
  padding: 0.3em;
  font-weight: 400;
}

tr:nth-child(even) {
  background-color: #d6eeee;
}

table select {
  border: dotted #d6eeee;
  margin-right: 1em;
  background-color: white;
  font-size: medium;
  float: left;
  width: 6em;
}

.user-card {
  visibility: hidden;
  position: absolute;
  background: white;
  padding: 0.5em;
  box-shadow: 3px 6px 10px rgb(43, 43, 43);
  border-radius: 10px;
  border: 1px solid whitesmoke;
  z-index: 8;
}

.name-on-list {
  color: blue;
  font-weight: bold;
  font-style: normal;
}

.role-on-list {
  color: green;
  font-style: normal;
  font-weight: bold;
}

.statbox-table th,
.statbox-table td {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.userlist-name-head {
  min-width: 10em;
}

i > div {
  font-weight: normal;
  color: black;
}
