html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.root-container {
  display: block;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.list-container,
.form-container,
.stats-container {
  max-width: 20em;
  border-radius: 10px;
  border: 1px solid whitesmoke;
  margin: 1em;
  background-color: white;
  box-shadow: 3px 6px 10px rgb(43, 43, 43);
}

.form-container,
.stats-container {
  display: flex;
  justify-content: center;
}

.list-container {
  min-width: 50%;
}

.form-container {
  max-height: 8em;
}
